@charset "utf-8";
/* CSS Document */
/*---Initial---*/
/*--------------------------
    Full Screen
    Min size
  --------------------------*/
html, body{
    display:block;
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;

    overflow: hidden;
    text-align:center;
}
ul,ol,li,p,div,dl,dt,dd,img,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td{
    margin: 0;
    padding: 0;
}

ol,ul{
    list-style:none;
    list-style-type: none;
}
a{
    text-decoration:none;
}
.wrap{
    margin: 0;
    height: 100%;
    width: 100%;
    min-width: 1370px;
    min-height: 800px;
    background-color: #E1E6E9;
}
.holder {
    height: 100%
}
.clear{
    both:clear;
}
/*---Main Style---*/
.left_menu {
    float:left;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    width: 20%;
    min-width: 300px;
    background-color: #191C20;
}
.user-box {
    display:table;
    height:150px;
    width: 100%;
}
.user-ico {
    display:table-cell;
    height: 100%;
    width: 100px;
    vertical-align:middle;
}
.cycle {

    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: #1586D0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;

    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;

    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
}
.cycle p {
    font-family: Arial;
    font-size: 50pt;
    color:#fff;
}
.user-text {
    display:table-cell;
    vertical-align:middle;
}
.user-text ul li {
    font-family: Arial;
    color: #fff;

}
#welcome {
    font-size: 20pt;
    font-weight: bold;
}
#showName {
    font-size: 15pt;
}
#showDepartment {
    font-size: 15pt;
}
.menu-bar {
    padding-top: 100px;
    width: 100%;
}
.menu-bar ul {
    width:100%;
}
.menu-bar li {
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    cursor: pointer;
}
.menu-bar li div{
    font-family: Arial;
    font-size: 15pt;
    text-align: left;
    line-height: 50px;

}
#model {
    background: #fff;
    color:#191C20;
}
.menu-bar a {
    color:#fff;
 }

#em-button{
    border: none;
    width: 100%;
    font-family: Arial;
    font-size: 15pt;
    color: #fff;
    background-color: #191C20;
}
#em-box {
    display: none;
    width: 100%;
    height: 80px;
}
#switch-left-text {
    float:left;
}
/*----Switch button----*/
.switch {
    margin-top: 15px;
    position: relative;
    display: inline-block;
    float: right;
    width: 30px;
    height: 20px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: #73BE5F;
}

input:focus + .slider {
    box-shadow: 0 0 1px #73BE5F;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(10px);
}
.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}
/*-------------*/
#input-box {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    width: 60%;
    font-family: Arial;
    font-size: 15pt;
    color: #4c4c4c;
    border: none;
    border-radius: 3px;
}
#submit-btn {
    float:right;
    margin-right: -5px;
    height: 30px;
    width: 65px;
    border-style: none;
    border-radius: 3px;
    font-family: Arial;
    font-size: 12pt;
    color: #fff;
    background-color: #73BE5F;
}
.map-box {
    padding-left: 2%;
    width: 100%;
    height: 100%;
}
.right-map {
    float: left;
    width: 75%;
    height: 100%;
    background-color: #E1E6E9;
}
.left-box {
    float: left;
    width: 40%;
    height: 100%;
    background-color: rgba(25, 28, 32, 0.45);
}
.right-box {
    float: left;
    width: 60%;
    height: 100%;
    background-color: #E1E6E9;
}

#showAll {
    position: fixed;
    top: 10px;
    right: 20px;
    background-color: rgba(25, 28, 32, 0.45);
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    display: none;
    cursor: pointer;
}

#config-area {
    width: 100%;
    display: none;
}


/*--Alert--*/
#alert-box {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    width: 100%;

    z-index: 999;
    text-align: center;
}
.position-wrap {
    display: table;
    height:100%;
    width:100%;
}

.error-box {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
    width: 50%;
    background-color: rgba(0,3,53,0.6);
    box-sizing: border-box;
    border: 1px solid #ddd;
    _position: absolute;
    _top: 50%;
}
.error-box p{
    color: #fff;
    font-family: Arial;
    font-size: 30pt;
    opacity: 1;
}
#close-btn {
    color: #fff;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1.0;
    font-family: Arial;
    width: 200px;
    background-color: #9d9d9d;
    font-size: 25pt;
    cursor: pointer;
}
