@charset "utf-8";
/* CSS Document */
/*---Initial---*/
/*--------------------------
    Full Screen
    Min size 500px * 330px
  --------------------------*/
html, body{
    display:block;
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    min-width: 500px;
    min-height: 330px;
    overflow: hidden;
    background-color:#fff;
    text-align:center;
}
ul,ol,li,p,div,dl,dt,dd,img,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td{
    margin: 0;
    padding: 0;
}

ol,ul{
    list-style:none;
}
a{
    text-decoration:none;
}

.wrap{
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
}
.holder {
    height: 100%
}
.clear{
    both:clear;
}

/*---Main Style---*/
.bg-container {
    height: 55%;
    background-image: url("../img/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container {
    margin:auto;
    padding-top: 5%;
    width: 100%;
    height: 45%;
    background: #18222A;
}
.user-box {
    margin: auto;
    padding-top: 2%;
    height:60%;
    width: 50%;
    text-align: center;
}
.input-container {
    display: table;
    padding: 1%;
    height:20%;
    width: 100%;
    overflow: hidden;
}
/*----------------------
.login-text {
    display: table-cell;
    margin-right: 10px;
    float: left;
    height: 100%;
    width: 25%;
    font-family: Arial;
    font-size: 20pt;
    color: #8C9092;
    vertical-align: middle;
}
------------------------*/

.input-box {
    display: table-cell;
    height: 70%;
    width: 100%;
    min-width: 250px;
    min-height: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    vertical-align: middle;
}
.input-container select {
    display: table-cell;
    appearance:menulist-button;
    -webkit-appearance: menulist-button;
    -webkit-appearance:menulist-button;
    height: 78%;
    width: 110%;
    min-width: 260px;
    justify-content:center;
    align-items:center;
    vertical-align: middle;
    padding-left: 10px;
    font-family: Arial;
    color: #95989A;
    font-size: 15pt;
    border-radius: 3pt;
}
.input-container input{
    padding-left: 10px;
    font-family: Arial;
    font-size: 15pt;
    color: #95989A;
    border: none;
    border-radius: 3pt;
}
.button-box {
    height:30%;
    width: 100%;
}
button {
    margin-top: 2%;
    height:50%;
    width:30%;
    min-height: 35px;
    min-width: 80px;
    font-family: Arial;
    font-size: 15pt;
    color: #fff;
    background-color: #73BE5F;
    border: none;
    border-radius: 3pt;
}
#alert-box {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;

    z-index: 999;
    text-align: center;
}
.position-wrap {
    display: table;
    height:100%;
    width:100%;
}

.error-box {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
    width: 50%;
    background-color: rgba(0,3,53,0.6);
    box-sizing: border-box;
    border: 1px solid #ddd;
    _position: absolute;
    _top: 50%;
}
.error-box p{
    color: #fff;
    font-family: Arial;
    font-size: 30pt;
    opacity: 1;
}
#close-btn {
    color: #fff;
    margin: auto;
    opacity: 1.0;
    font-family: Arial;
    width: 200px;
    background-color: #9d9d9d;
    font-size: 25pt;
}

